body {
    background: url(../img/poster-background.png) no-repeat 50% 50%;
}
#bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    will-change: transform;
    background-size: cover;
}
.container {
  min-width: 320px;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.centering {
  width: 200px;
  position: absolute;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto;
  margin-left: -100px;
}

