.navbar__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0;
  text-align: center;
  background: rgba(0,0,0,.5);
}
.navbar__list li {
  display: inline-block;
  vertical-align: top;
  margin: 0% 5%;
}
.navbar__list li a {
  display: block;
  font-size: 13px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  transition: color .5s ease;
  cursor: default;
}
.navbar__list li a:hover {
  color: @white-text-color;
}